
.Roboto {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


.Montserrat {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  }

.Poppins {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  /* color:red; */
}

.Poppins {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  /* color:red; */
}


.Merriweather{
  font-size: 16px;
  font-family: 'Merriweather';
}

.OpenSans {
  font-size: 16px;
  font-family: 'OpenSans';
  }


.Lato {
  font-size: 16px;
  font-family: 'Lato', sans-serif;

  }


.Dancing{
  font-size: 12px;
  font-family: 'Dancing Script', cursive;
}
