.sectorName{
  font-size: 25px;
  font-weight: bold;

}

.testThis{
  position: absolute;
  top:0;
  left:0;
  height:50px;
  background: #1890ff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width:100%;
  padding:10px;
  margin-bottom: 30px;
}
