.sectorName{
  font-size: 25px;
  font-weight: bold;

}

.testThis{
  position: absolute;
  top:0;
  left:0;
  height:50px;
  background: #1890ff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width:100%;
  padding:10px;
  margin-bottom: 30px;
}

.wrapperBoxItem{
  width: 300px;
  height: 50px;
  border-radius: 10px;
  transition: 0.1s;

}

.wrapperBoxItem:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
