/*

  Remember the main name of the project is gjs

*/
/* CSS for the block */
/* this is the block container */
.gjs-blocks-c{
  background: white;

}
/* This is css for the buttons */
.gjs-block{
  width: auto;
  height: auto;
  min-height: auto;
  background-color: transparent;
  box-shadow:none;
  border: none;
  justify-content: center;
  color: black;

}
.gjs-block:hover{
  background-color: transparent;
  box-shadow: 0 0 0 0 gray;
}

/* change the colors of the different categories */
.gjs-block-category{
}


/* This will be the label */
.gjs-block-label{

}
