.paddingPosition {
  padding:10px;
}

.blockTypeHeader{
  font-family: 'PlusJakartaSans-SemiBold';
  font-size: 20px;
  margin-right: 10px;
}

.stylePositionRightCSS {
  position: relative;
  left:0px;
  top:15%;
  padding:10px;
}


.stylePositionTopCSS {
  position: relative;
  left:0%;
  top:12.5%;
  padding:10px;
}

.stylePositionBottomCSS {
  position: relative;
  left:0%;
  top:0%;
  padding:10px;

}

.stylePositionLeftCSS {
  position: relative;
  left:0%;
  top:17.5%;
  padding:10px;
}

.test222 {
  .ant-input {
    border-radius: 25px;
    width:20px;
  }

}







.changeAttributeFont{
  top: 10px;
  font-family: 'PlusJakartaSans-SemiBold';
  font-size: 14px;
  margin-right: 10px;
  /* background: red; */
}
