body{
  margin:0;
}

#gjs{

}

.row {
  background: red;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  height:95vh;
}

.firstColumn {
  min-height: 75px;
  flex-grow: 1;
  flex-basis: 300px;
  overflow: auto;
}

.column {
  min-height: 75px;
  flex-grow: 1;
  flex-basis: 100%;
  overflow: auto;
}

.editorHeaderContianer{
  height: 5vh;
  position: relative;
}
.editorHeader{
  position: relative;
  top: 50%;
  width:100%;
  transform:  translateY(-50%);
  display: flex;
}
.pageDropContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index:999;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  font-family: 'PlusJakartaSans';
  font-size: 10px;
}
.menuContianer{
  font-family: 'PlusJakartaSans';
}
.menuContianerText{
  font-size: 10px;

}


/* to change the css you have to put palets after the intial css declaration */
/* Theming */

/* Primary color for the background */
.gjs-one-bg {
  background-color: #78366a;
}

/* Secondary color for the text color */
.gjs-two-color {
  color: rgba(255, 255, 255, 0.7);
}

/* Tertiary color for the background */
.gjs-three-bg {
  background-color: #ec5896;
  color: white;
}

/* Quaternary color for the text color */
.gjs-four-color,
.gjs-four-color-h:hover {
  color: #ec5896;
}


.gjs-cv-canvas{

  top: 0;
  width: 100%;
  height: 100%;

}

.panel__top {
  padding: 0;
  height: 50px;
  width: 100%;
  display: flex;
  position: initial;
  justify-content: center;
  justify-content: space-between;
}
.panel__basic-actions {
  position: initial;
}

.editor-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 300px;
}

.editor-canvas {
  flex-grow: 1;

}

.panel__right {
  flex-basis: 300px;
  position: relative;
  overflow-y: auto;
}

.panel__switcher {
  position: initial;
}

.panel__devices {
  position: initial;
}
