.summaryHeader{
  font-family: 'PlusJakartaSans-SemiBold';
  font-size: 25px;
}



.twitterHeader{
  margin-top: 30px;
  font-family: 'PlusJakartaSans-SemiBold';
  font-size: 16px;
  margin-right: 10px;
}


.outer {
  height:450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  left:35%;
  position: relative;
  margin-bottom: 20px;
}
.summaryLinkContainer {
  margin-top: 30px;
}

.summaryLink{
  font-family: 'PlusJakartaSans';
  font-size: 18px;
  margin-right: 10px;
}

.boldoption {
    font-weight: bold;
}




.editorHeaderContainer{
  height: 5vh;
  position: relative;
  /* box-shadow: 2px 4px 4px gainsboro; */
  z-index: 1000;
}

.editorHeader{
  position: relative;
  top: 50%;
  width:100%;
  transform:  translateY(-50%);
  display: flex;
  flex-direction: row;
}

.logoContainer{
  position: relative;
  width: 10%;
  background: white;
  color: black;
  font-family: 'PlusJakartaSans-Bold';
  font-size: 18px;
}
.logoHref{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);


}

.pageDropContainer{
  width: 70%;
}

.rightHeader{
  width: 10%;
  display: flex;
  flex-direction: row;
}
.rightHeaderItem{
  margin: 2px;
}
.rightHeaderProfile {
   /* justify-content: center; */
   display: flex;
   flex-direction: row;
}
