.summaryHeader{
  font-family: 'PlusJakartaSans-SemiBold';
  font-size: 25px;
}



.twitterHeader{
  margin-top: 30px;
  font-family: 'PlusJakartaSans-SemiBold';
  font-size: 16px;
  margin-right: 10px;
}


.outer {
  height:450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  left:35%;
  position: relative;
  margin-bottom: 20px;
}
.summaryLinkContainer {
  margin-top: 30px;
}

.summaryLink{
  font-family: 'PlusJakartaSans';
  font-size: 20px;
  margin-right: 10px;
}

.boldoption {
    font-weight: bold;
}

.logoFont{
  cursor: pointer;
}
