body{
  margin:0;
}

#gjs{

}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  height:95vh;

}

.firstColumn {
  min-height: 75px;
  flex-grow: 1;
  flex-basis: 100px;
  overflow: auto;
  z-index: 2000;
  background: white;
  padding-top: 25px;
  box-shadow: 4px 4px 4px gainsboro;
}

.column {
  flex-grow: 1;
  flex-basis: 100%;

}

.editorHeaderContainer{
  height: 5vh;
  position: relative;
  box-shadow: 2px 4px 4px gainsboro;
  z-index: 1000;
}

.logoHeader{

  flex:2;
  background: pink;
}

.profileHeader{

  flex:1;
  background: blue;
}

/* <div className = "editorHeaderContainer">

      <div class="editorHeader">
        <div class="headerRow">
          <div class="logoHeader">
            <div class="logoFont">web.abc</div>

          </div>
          <div class="profileHeader">
            <div class="logoFont">ffff.abc</div>

          </div>
        </div>
      </div> */


.headerRow {
  flex-direction: row;
  display: flex;
}
.editorHeader{
  position: relative;
  top: 50%;
  width:100%;
  transform:  translateY(-50%);

}
.pageDropContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index:999;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  font-family: 'PlusJakartaSans';
  font-size: 10px;
}

.test2{
  position: absolute;
  top: 50%;
  left: 95%;
  z-index:999;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  font-family: 'PlusJakartaSans';
  font-size: 10px;
}
.menuContianer{
  font-family: 'PlusJakartaSans';
}
.menuContianerText{
  font-size: 10px;

}




.gjs-cv-canvas{
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width:100%;
  height: 100%;
}


.panel__top {
  padding: 0;
  height: 50px;
  width: 100%;
  display: flex;
  position: initial;
  justify-content: center;
  justify-content: space-between;
}
.panel__basic-actions {
  position: initial;
}

.panel__right {
  flex-basis: 300px;
  position: relative;
  overflow-y: auto;
  z-index: 1000;
}

.panel__switcher {
  position: initial;
}

.panel__devices {
  position: initial;
}


.mainButtons{
  display: flex;
  flex-direction: column;
}
.mainButtonHolder{
  text-align: center;
}
.buttonHolder{
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
}
