.previewHeaderContainer{
  height: 5vh;
  width: 100%;
  position: fixed;
  background: white;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.goBackIconContainer{
  width: 5%;
  height: 100%;
  background: white;
  position: relative;
  font-size: 25px;
  transition: 0.1s;
}
.goBackIconContainer:hover{
  background: gainsboro;
}

.goBackIcon{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.prviewTextContainer{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
