#slidingDrawer{
  width: 20vw;
  height: 95vh;
  background-color: #FFE600;
  position: absolute;
  left: 0;
  transition: transform .3s cubic-bezier(0, .52, 0, 1);
  z-index: 1000;
  box-shadow: 2px 4px 4px grey;

}
.drawer{

}
