#slidingDrawer{
  width: 25vw;
  height: 95vh;
  background-color: white;
  position: absolute;
  left: 0;
  transition: transform .5s cubic-bezier(0, .52, 0, 1);
  z-index: 999;
  box-shadow: 2px 4px 4px grey;
  overflow: auto;
}

#slidingDrawer.hide{
  transform: translate3d(-30vw, 0, 0);
}

#slidingDrawer.show{
  transform: translate3d(4vw, 0, 0);
}


.drawer{

}
