.pickerContainer{
  display: flex;
  flex-wrap: wrap;
}

.imageItemContainer{
  width: 25%;
  padding: 25px;
}

.imageItem{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 2px;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  border-radius: 10px;
  border: 1px black solid;
}

.imageItem img{
  border: 1px black solid;
  position: relative;
  background: white;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
