
.contractAddress {
    font-size: 25px;
    font-family: 'PlusJakartaSans-SemiBold';
}

.smartAddress {

    font-family: 'PlusJakartaSans';
    font-size: 18px;
    padding:10px;
}

.contractCategoryTitle{
    font-size: 20px;
    padding:10px;
    font-family: 'PlusJakartaSans';
}


.contractBreadCrumb{
    font-family: 'PlusJakartaSans';
    /* font-size: 24px; */
  }

.contractStackDimension {
    flex:1;
    margin-right: 10px;
    margin-right:10px;
}
