.logoContainer{
  width: 5%;
}
.middleHeaderContainer{
  width: 80%;
}
.connectWalletContainer{
  width: 15%;
  text-align: center;
}
.logoFont{
  font-family: 'PlusJakartaSans-Bold';
  font-size: 18px;
  margin-left: 25px;
  cursor: pointer;
}
.bigContainer{
  /* display: flex; */
  /* height:93vh; */
  /* flex-direction: column; */
}
.splitScreenContainer{
  display: flex;
  flex-direction: row;
  height: 70vh;
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background-color: #ffc53d; */

}
.lottieContainer{
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.descriptionContainer{
  position: relative;
  height: 25vh;
}

.descriptionText{
  text-align: center;
  font-family: 'PlusJakartaSans-SemiBold';
  font-size: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

}





.featureContainer{
  position: relative;
  height: 70vh;
  /* background-color:  red; */
}

.featureCardHolder{
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 100%;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.cardContainer{
  position: relative;
  height: 100%;
  flex: 1;
}

.featureCard{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  position: absolute;
  text-align: center;

  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);

}

.featureInfoText{
  text-align: left;
  font-family: 'PlusJakartaSans-SemiBold';

}

.featureInfoTitle{
  font-size: 35px;
}

.socialMediaContainer{
  height: 15vh;
  position: relative;

}

.socialMediaMiddleC{
  display: flex;
  flex-direction: row;
  position: relative;
  left: 50%;
  width: 20%;
  transform: translateX(-50%);
  padding: 25px 0px;
}

.socialMediaIcon{
  flex: 1;
  margin: 2px;
  padding: 10px;
  font-size: 25px;
  text-align:center;
}

.title {
    font-family: 'PlusJakartaSans-Bold';
    font-size: 65px;

}


.title2 {
    font-family: 'PlusJakartaSans-SemiBold';
    font-size: 25px;
}

.font3{
  font-family: 'Arial';
}


.loginKey{



}

.menuItemFont{
  font-family: 'PlusJakartaSans-SemiBold';
  font-size: 14px;
}

.loginFont{
  font-family: 'PlusJakartaSans-SemiBold';
  font-size: 14px;
  color:white;
}


.loginBtn .loginTxt{
  color:'white'
}


.loginBtn {
    width: 130px;
    height: 30px;
    background-color: #2f54eb;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }







.getStartedBtn {
  margin-top: 25px;
    width: 150px;
    height: 40px;
    background-color: #1890ff;
    border-radius: 25px;
    align-items: "center";
    justify-content: "center";
    display: flex;
  }

  .containerText{
    color:white;
    transform: translateY(50%);
    transform: translateX(-50%);
    left:50%;
    top:15%;
    position: relative;
    /* background: red; */
    font-size: 16px;
    font-family: 'PlusJakartaSans-SemiBold';

  }

.splitLeft{
  flex:1;
  height:'100%';
  /* position: 'relative'; */
  /* transform: translateX(-50%);
  left:50%; */
  /* background: orange; */
}
.test{
  display: flex;
  justify-content: flex-end;
}
.splitLeft1{
  position: relative;
  transform: translateX(50%);
  transform: translateY(-50%);
  left:25%;
  top:55%;
  align-items: center;
}

.splitRight{
  flex:1.5;

    /* background: green; */
}

.splitRightCenter{
  display: flex;
  align-items: center;
  top:25%;
  left:30%;
  position: relative;
  /* background: red; */

}
.custom-shape-divider-top-1639728936 {
    position: absolute;
    top: '10%';
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1639728936 svg {
    position: relative;
    display: block;
    width: calc(108% + 1.3px);
    height: 96px;
}

.custom-shape-divider-top-1639728936 .shape-fill {
    fill: #1890ff;
}

.small1{
  flex:1;
  height: 200px;

  /* left: 50%;
    transform: translateX(-50%); */
}

.small2{
  flex:1;
  /* background: red; */
  padding:100px;
}

.ant-divider{
  background-color: #d9d9d9;
}
