.startCollectionContainer{
    position:absolute;
    top:12.5%;
    left:50%;
    transform: translateX(-50%);
    width:80%;
    height: 60%;
    /* background-color: red; */

}
.collectionButton {
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: row;

}

.startCollectionTitles{
  font-size: 25px;
  margin-bottom: 20px;
}
.collectionPreviousButton {
    margin-right: 10px;
}

.stepContainer{
  margin: 10px;
}

.startCollectionButton{
  margin-top: 20px;
}
